<p style="color: green"><%= notice %></p>
<%= render @proceeding %>
<%= @proceeding.category.id %>
<div>
  <%= link_to "Edit this transaction", edit_proceeding_path(@proceeding) %> |
  <%= link_to "Back to transactions", proceedings_path %>
  <%= button_to "Destroy this transaction", @proceeding, method: :delete %>
</div>
